---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import Markdown from "@components/misc/Markdown.astro";
import { abExcerpts } from "../database/ab-excerpts";
---

<MainGridLayout title="数据库" description="盲测段落库（用于 A/B 随机对比）">
	<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
		<div class="card-base z-10 px-6 md:px-9 py-6 relative w-full">
			<Markdown class="mt-2">
				<p>这里存放用于“读者盲测投票”的原文段落库。你可以在 <code>src/database/ab-excerpts.ts</code> 增删段落，<code>report</code> 文章会自动从中随机抽取两段做对比。</p>
			</Markdown>

			<div class="mt-4 overflow-x-auto">
				<table class="w-full text-sm border-collapse">
					<thead>
						<tr class="text-left border-b border-[var(--line-divider)]">
							<th class="py-2 pr-3">key</th>
							<th class="py-2 pr-3">model</th>
							<th class="py-2">text</th>
						</tr>
					</thead>
					<tbody>
						{abExcerpts.map((x) => (
							<tr class="align-top border-b border-[var(--line-divider)]/60">
								<td class="py-2 pr-3 whitespace-nowrap opacity-80">{x.k}</td>
								<td class="py-2 pr-3 whitespace-nowrap opacity-80">{x.m}</td>
								<td class="py-2">{x.t}</td>
							</tr>
						))}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</MainGridLayout>


