---
import MainGridLayout from "../layouts/MainGridLayout.astro";
import ParchmentRainDoc from "../components/control/ParchmentRainDoc.svelte";
---

<MainGridLayout title="羊皮纸文档" description="点击后播放音乐，羊皮纸文档向下铺开，下雨背景动态展示">
	<div class="min-h-[60vh]">
		<ParchmentRainDoc client:only="svelte" />
	</div>
</MainGridLayout>